/* Base styles */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7; /* Dark background color */
}
.logo-item {
    float: left; /* Float the logo to the left */
}

.logo {
    height: 70px; /* Adjust height as needed */
    margin-right: 20px; /* Space between logo and menu items */
    width: 80px;
}
#menu .menubar {
    float: right;
}

#menu .menubar a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-weight: bold; /* Bold font for menu items */
    height: 26px;
    font-size: 17px;
}

#menu .menubar a:hover {
   
    color: #fa0303;
}

#sub_header{
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: #f7f7f7;
}

#navbar .menubar{
    float: left;
    color: rgb(72, 70, 70);
    margin-left: 5%;
    list-style-type: none;
    
}
#navbar .menubar a {
    display: block;
    color: rgb(72, 70, 70);
    text-align: center;
    padding: 0 5px 3px;
    text-decoration: none;
    font-size: 15px;
}
#navbar .menubar a:hover {
    color: #fa0303;
}

#footer {
    margin-top: 70%;
    background-color: #f7f7f7; /* Dark background color */
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

.footer-section {
    flex: 1;
    text-align: left;
    margin-bottom: 20px; /* Space between sections */
}

.menu_list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold; /* Bold font for footer items */
}

.menu_list1:first-child {
    font-size: 25px; /* Larger font size for section titles */
}

.menu_list1 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu_list1 a:hover {
    text-decoration: underline;/* Underline on hover for links */
    color: blue;
}

